name: Docker

on:
  push:
    branches: ['main']
    tags: ['v*.*.*']
env:
  REGISTRY: docker.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push go-aws:1.18-alpine
        id: b1
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: '{{defaultContext}}:1.18-alpine'
          push: ${{ github.event_name != 'pull_request' }}
          tags: docker.io/zapote/go-aws:1.18-alpine
          labels: ${{ steps.meta.outputs.labels }}

      - name: Build and push go-aws:1.19.1-alpine
        id: b2
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: '{{defaultContext}}:1.19.1-alpine'
          push: ${{ github.event_name != 'pull_request' }}
          tags: docker.io/zapote/go-aws:1.19.1-alpine
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push go-aws:1.20-alpine
        id: b3
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: '{{defaultContext}}:1.20-alpine'
          push: ${{ github.event_name != 'pull_request' }}
          tags: docker.io/zapote/go-aws:1.20-alpine
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push go-aws:1.21.3-alpine
        id: b4
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: '{{defaultContext}}:1.21.3-alpine'
          push: ${{ github.event_name != 'pull_request' }}
          tags: docker.io/zapote/go-aws:1.21.3-alpine
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push go-aws:1.22.0-alpine
        id: b5
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: '{{defaultContext}}:1.22.0-alpine'
          push: ${{ github.event_name != 'pull_request' }}
          tags: docker.io/zapote/go-aws:1.22.0-alpine
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push go-aws:1.23-alpine
        id: b6
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: '{{defaultContext}}:1.23-alpine'
          push: ${{ github.event_name != 'pull_request' }}
          tags: docker.io/zapote/go-aws:1.23-alpine
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push go-aws:1.24.1-alpine
        id: b7
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: '{{defaultContext}}:1.24.1-alpine'
          push: ${{ github.event_name != 'pull_request' }}
          tags: docker.io/zapote/go-aws:1.24.1-alpine
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push go-aws:1.25-alpine
        id: b8
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: '{{defaultContext}}:1.25-alpine'
          push: ${{ github.event_name != 'pull_request' }}
          tags: docker.io/zapote/go-aws:1.25-alpine
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push go-aws:1.25.3-alpine
        id: b9
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: '{{defaultContext}}:1.25.3-alpine'
          push: ${{ github.event_name != 'pull_request' }}
          tags: docker.io/zapote/go-aws:1.25.3-alpine
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push go-aws:1.25.5-alpine
        id: b10
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: '{{defaultContext}}:1.25.5-alpine'
          push: ${{ github.event_name != 'pull_request' }}
          tags: docker.io/zapote/go-aws:1.25.5-alpine
          labels: ${{ steps.meta.outputs.labels }}
