name: Docker

on:
  push:
    branches: ['main']
    tags: ['v*.*.*']
env:
  REGISTRY: docker.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - '1.24.1'
          - '1.25'
          - '1.25.3'
          - '1.25.5'
          - '1.25.6'
          - '1.25.7'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: docker.io/zapote/go-aws

      - name: Build and push go-aws:${{ matrix.version }}-alpine
        uses: docker/build-push-action@v6
        with:
          context: '{{defaultContext}}:${{ matrix.version }}-alpine'
          push: ${{ github.event_name != 'pull_request' }}
          tags: docker.io/zapote/go-aws:${{ matrix.version }}-alpine
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ matrix.version }}
          cache-to: type=gha,mode=max,scope=${{ matrix.version }}
